# Dependecies / Runtime
node_modules/
.node/

# Build outputs
dist/
build/
.next/
out/

# Environments / Secrets
.env
.env*.local

# Archives / Backups
*.zip
*.tar
*.gz
*.rar

# OS Files
.DS_Store
Thumbs.db
